<tr id="<%= dom_id user %>">
  <td><%= user.email %></td>
  <td><%= user.crypted_password %></td>
  <td><%= user.salt %></td>
  <td><%= link_to 'Show', user %></td>
  <td><%= link_to 'Edit...', edit_user_path(user) %></td>
  <td><%= link_to 'Destroy', user, data:{turbo_method: :delete, 
                                         turbo_confirm: 'Are you sure?'} %>
</tr>
