<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>SorceryTwofactorSample</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="/bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">    
    <a class="navbar-brand" >2FA Sample</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', '/', class:'nav-link' %>
<% if current_user %>
        <li class="nav-item">
          <%= link_to "Edit Profile...", edit_user_path(current_user.id),
                      class:'nav-link' %>
      </ul>
      <div class="nav-item">
        <span class="navbar-text me-2">Logged-in: <%= current_user.email %></span>
      </div>
      <%= link_to "Logout", logout_path,
                      data: {turbo_method: :post}, class:'btn btn-outline-dark' %>
<% else %>
      </ul>
      <div class="nav-item">
        <%= link_to "Register", new_user_path, class:'btn btn-primary me-2' %>
      </div>
      <%= link_to "Log In", login_path, class:'btn btn-outline-primary' %>
<% end %>
    </div>
  </div>      
</nav>

<% # flash[:notice], flash[:alert] は短縮表記もある. See ActionDispatch::Flash
   {notice: "alert alert-success",
    alert: "alert alert-danger"}.each do |key, klass|
     if (message = flash[key]) %>
<%= tag.div(class: klass + " alert-dismissible fade show", role:"alert") do %>
  <%= message %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
<% end %>
<%   end
   end %>


  <%= yield %>

<% # importmap-rails を使う場合, ここで <script src="/bootstrap5/js/bootstrap.bundle.min.js"> を書いてはならない。
  %>
</body>
</html>
